body {
    background-color: #9d0a0a;
color: #FFFFFF;
fontt-family; arial, sans-serif
}

header {
    background-color:#6b2d5c;
    color: white;
    text-aling: center;
    padding: 30px;
}

h1 {
font-size: 36px;
}

h2 {
    color: #6b2d5c;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-widyh: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}
