body {
    background-color: #9d0a0a;
    color: #0f0f0f;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #fcf8fb;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #131112;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: rgb(3, 3, 3);
    text-decoration: none;
    background-color: #f8f2f6;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #c77dff;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}

.card {
    background-color: #eae8eb;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #6b2d5c;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

button {
    background-color:#c77dff;
    color:#f8f2f6;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color:#6b2d5c;
}

.curtir {
    display: block;
    width: fit-content;
    margin: 20px auto;
}